
<div class="col-lg-7">
	<div class="well">
		<div id='participants_per_month' style='background: #fff; text-align: center;'><%= image_tag("ajax-loader.gif") -%> Loading...</div>
	</div>
</div>


<div class="col-lg-7">
    <div class="well">
        <div id='percent_per_users' style='background: #fff; text-align: center;'><%= image_tag("ajax-loader.gif") -%> Loading...</div>
    </div>
</div>

<div class="col-lg-7">
    <div class="well">
        <div id='votes_voters_per_month' style='background: #fff; text-align: center;'><%= image_tag("ajax-loader.gif") -%> Loading...</div>
    </div>
</div>


   <!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
  	google.setOnLoadCallback(drawChart);

    function drawChart() {
    	$.get("<%= url_for :controller => 'admins', :action => 'index' -%>/getparticipantspermonth/<%= Settings.app.start_date -%>/<%= Settings.app.end_date -%>", function(data_raw){
    		var data = google.visualization.arrayToDataTable(data_raw);

	    	var options = {
	    		title: 'Evolution per month',
	    	};

    		$('#participants_per_month').html('');
    		var chart = new google.visualization.LineChart(document.getElementById('participants_per_month'));
        	chart.draw(data, options);

            drawPie();
    	});
    }

    function drawPie(){
        $.get("<%= url_for :controller => 'admins', :action => 'index' -%>/getpercentperdevice", function(data_raw){
            var data = google.visualization.arrayToDataTable(data_raw);

            var options = {
                title: 'Percentage of the device used',
            };

            $('#percent_per_users').html('');
            var chart = new google.visualization.PieChart(document.getElementById('percent_per_users'));
            chart.draw(data, options);

            drawLines();
        });
    }

    function drawLines(){
        $.get("<%= url_for :controller => 'admins', :action => 'index' -%>/getvotesvoterspermonth/<%= Settings.app.start_date -%>/<%= Settings.app.end_date -%>", function(data_raw){
                console.log(data_raw);
                var data = google.visualization.arrayToDataTable(data_raw);

                var options = {
                    title: 'Votes and voters on pictures per month',
                };

                $('#votes_voters_per_month').html('');
                var chart = new google.visualization.LineChart(document.getElementById('votes_voters_per_month'));
                chart.draw(data, options);

                // drawPie();
            }
        );
    }
</script>