<h2>Subscribers (<%= @subscribers[:size] -%>)</h2>
<button class="btn btn-small" id='routine' type="button">Launch routine</button>
<br /><br />
<button class="btn btn-small btn-primary check_all" type="button">Check all</button>
<button class="btn btn-small btn-info disabled accept_all" type="button">Accept checked</button>
<button class="btn btn-small btn-danger disabled refuse_all" type="button" >Refuse checked</button>
<br /><br />
<div class='paginate'></div>
<% @subscribers[:data].each_with_index do |s, i| %>
<div class="media">
	<a class="pull-left" href="#">
		<a href='<%= s[:picture].sub("_5", "_6")-%>' target="_blank"><img class="media-object" data-src="holder.js/64x64" src='<%= s[:picture]-%>' style='max-height: 150px; max-width: 150px;'></a>
	</a>
	<div class="media-body">
		<h4 class="media-heading"><%= s[:full_name]-%> @ <%= s[:username]-%></h4>
		<p class="text-info"><%= s[:type].slice(0,1).capitalize + s[:type].slice(1..-1) -%></p>

		<!-- Nested media object -->
		<div class="media">
			<small><%= s[:date] -%></small><br />
			<% if s[:status] == 'accepted' %>
				Rank: <strong><%= s[:rank]-%></strong>
			<% elsif s[:status] == 'refused' %>
				<strong>This document has been refused</strong>
			<% else %>
				<button class="btn btn-small btn-info" id="<%= s[:id] -%>" type="button">Accept</button>
				<button class="btn btn-small btn-danger" id="<%= s[:id] -%>" type="button">Refuse</button>
				<br /><br />
				<label class="checkbox">
			    	<input value='<%= s[:id] -%>' type="checkbox"> Or check for group action ...
			    </label>
			<% end %>
		</div>
	</div>
</div>
<% end %>
<br />
<div class='paginate' style='width: 450px;'></div>
<br />
<button class="btn btn-small btn-primary check_all" type="button">Check all</button>
<button class="btn btn-small btn-info disabled accept_all" type="button">Accept checked</button>
<button class="btn btn-small btn-danger disabled refuse_all" type="button" >Refuse checked</button>
<br /><br />

<script type="text/javascript">
	$(document).ready(function(){
		$('li#subscribers').addClass('active');
		// GENERIC !

		$('#routine').click(function(){
			$(this).addClass('disabled').text('Loading ...');
			$.get( "<%= Settings.root_path -%>/subscribes/wrapper", function(xhr) {
				$('#routine').removeClass('disabled').text('Launch routine');
				$('.alert').html('Routine done successfully! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
					setTimeout(function(){
						window.location.reload();
					}, 2000);
			});
		});

		$('.paginate').pagination({
            items: parseInt(<%= @subscribers[:size] -%>),
            itemsOnPage: 6,
            currentPage: parseInt(<%= @subscribers[:current] -%>),
            cssStyle: 'light-theme',
            displayedPages: 3,
            onPageClick: function (page_n, e){
            	window.location.href = '/admin/subscribers/'+page_n
            }
        })

		$('.check_all').click(function(){
			if ($('.accept_all, .refuse_all').hasClass('disabled')){
				console.log('GO CHECK');
				$('.accept_all, .refuse_all').removeClass('disabled');
				$('input[type=checkbox]').attr('checked', true);
			}else{
				console.log('GO UNCHECK');
				$('.accept_all, .refuse_all').addClass('disabled');
				$('input[type=checkbox]').attr('checked', false);
			}
		});

		$('input[type=checkbox]').on('change', function(){
			if (!$( "input:checked" ).length){$('.accept_all, .refuse_all').addClass('disabled');}
			else{$('.accept_all, .refuse_all').removeClass('disabled');}
		});

		function callAjax(state, id, callBack){
			$.ajax({
				url: '/admin/subscribers/moderate',
				data: {'state': state, 'id': id},
				dataType: 'json',
				type: 'POST',
				complete: callBack
			});
		}

		$('.media .btn.btn-info, .media .btn.btn-danger').click(function(){
			action = $(this).hasClass('btn-danger')?'refused':'accepted';
			callAjax(action, $(this).attr('id'), function(data){
				if (data.status == 200){
					$('.alert').html('Your modifications has been done! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
					setTimeout(function(){
						window.location.reload();
					}, 2000);
				}else{
					$('.alert').html('An error occured, please contact an administrator.').addClass('alert-error').slideDown();
					setTimeout(function(){
						$('.alert').slideUp('normal', function(){
							$('.alert').removeClass('alert-error');
						});
					}, 3000);
				}
			});
		});

		$('.accept_all, .refuse_all').click(function(){
			action = $(this).hasClass('refuse_all')?'refused':'accepted';
			$("input:checked").each(function(x, y){
				callAjax(action, $(y).attr('value'), function(data){
					if (data.status == 200){
						$('.alert').html('Your modifications has been done! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
						setTimeout(function(){
							window.location.reload();
						}, 2000);
					}else{
						$('.alert').html('An error occured, please contact an administrator.').addClass('alert-error').slideDown();
						setTimeout(function(){
							$('.alert').slideUp('normal', function(){
								$('.alert').removeClass('alert-error');
							});
						}, 3000);
					}
				});
			});
		});
	});
</script>
