<div class="page-header">
	<h1>Winners <small>(<%= @winners[:size] -%>)</small></h1>
</div>
<% @winners[:data].each_with_index do |s, i| %>
<div class="thumbnail" style='max-width: 350px; float: left; margin: 10px;'>
	<a href='#' class='top_name'><small><strong><%= s[:full_name] +'@'+ s[:username] -%></strong></small></a>
	<a href='<%= s[:picture].sub("_5", "_6")-%>' target="_blank"><img style="max-width: 250px; max-height: 250px;" src="<%= s[:picture]-%>"></a>
	<div class="caption">
		<p>
			<small><span class="text-info"><%= s[:type].slice(0,1).capitalize + s[:type].slice(1..-1) -%></span></small><br />
			<small><strong><%= s[:date] -%></strong></small><br />
		</p>
		<p><a href="#" id="<%=s[:id]%>" class="btn btn-small btn-danger ungrant">Ungrant</a>
	</div>
</div>
<% end %>
<div style='clear: both'></div>
<div class="page-header">
	<h1>Validated pictures <small>(<%= @subscribers[:size] -%>)</small></h1>
</div>
<button class="btn btn-small btn-primary check_all" type="button">Check all</button>
<button class="btn btn-small btn-success disabled accept_all" type="button">Grant checked</button>
<button class="btn btn-small btn-danger disabled pending_all" type="button">Unvalidate checked</button>
<br /><br />
<div class='paginate'></div>
<% @subscribers[:data].each_with_index do |s, i| %>
<div class="media">
	<a class="pull-left" href="#">
		<a href='<%= s[:picture].sub("_5", "_6")-%>' target="_blank"><img class="media-object" data-src="holder.js/64x64" src='<%= s[:picture]-%>' style='max-height: 150px; max-width: 150px;'></a>
	</a>
	<div class="media-body">
		<h4 class="media-heading"><%= s[:full_name]-%> @ <%= s[:username]-%></h4>
		<p class="text-info"><%= s[:type].slice(0,1).capitalize + s[:type].slice(1..-1) -%></p>
		<p><%= s[:country]-%> </p>

		<!-- Nested media object -->
		<div class="media">
			<small><%= s[:date] -%></small><br />
			<button class="btn btn-small btn-success" id="<%= s[:id] -%>" type="button">Grant</button>
			<button class="btn btn-small btn-danger" id="<%= s[:id] -%>" type="button">Unvalidate</button>
			<br /><br />
			<label class="checkbox">
		    	<input value='<%= s[:id] -%>' type="checkbox"> Or check for group action ...
		    </label>
		</div>
	</div>
</div>
<% end %>
<br />
<div class='paginate' style='width: 450px;'></div>
<br />
<button class="btn btn-small btn-primary check_all" type="button">Check all</button>
<button class="btn btn-small btn-success disabled accept_all" type="button">Grant checked</button>
<br /><br />

<script type="text/javascript">
	$(document).ready(function(){
		$('li#subscribers').addClass('active');
		// GENERIC !

		$('.paginate').pagination({
            items: parseInt(<%= @subscribers[:size] -%>),
            itemsOnPage: 6,
            currentPage: parseInt(<%= @subscribers[:current] -%>),
            cssStyle: 'light-theme',
            displayedPages: 3,
            onPageClick: function (page_n, e){
            	window.location.href = '/admin/winners/'+page_n
            }
        })

		$('.check_all').click(function(){
			if ($('.accept_all').hasClass('disabled')){
				$('.accept_all, .pending_all').removeClass('disabled');
				$('input[type=checkbox]').attr('checked', true);
			}else{
				$('.accept_all, .pending_all').addClass('disabled');
				$('input[type=checkbox]').attr('checked', false);
			}
		});

		$('input[type=checkbox]').on('change', function(){
			if (!$( "input:checked" ).length){$('.accept_all, .pending_all').addClass('disabled');}
			else{$('.accept_all, .pending_all').removeClass('disabled');}
		});

		function callAjax(state, id, callBack){
			$.ajax({
				url: '/admin/winners/grant',
				data: {'state': state, 'id': id},
				dataType: 'json',
				type: 'POST',
				complete: callBack
			});
		}

		$('.ungrant').click(function(){
			callAjax('accepted', $(this).attr('id'), function(data){
				if (data.status == 200){
					$('.alert').html('Your modifications has been done! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
					setTimeout(function(){
						window.location.reload();
					}, 2000);
				}else{
					$('.alert').html('An error occured, please contact an administrator.').addClass('alert-error').slideDown();
					setTimeout(function(){
						$('.alert').slideUp('normal', function(){
							$('.alert').removeClass('alert-error');
						});
					}, 3000);
				}
			})
		});
		
		$('.media .btn.btn-success, .media .btn.btn-danger').click(function(){
			var action = $(this).hasClass('btn-success') ? 'won' : 'pending';
			callAjax(action, $(this).attr('id'), function(data){
				if (data.status == 200){
					$('.alert').html('Your modifications has been done! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
					setTimeout(function(){
						window.location.reload();
					}, 2000);
				}else{
					$('.alert').html('An error occured, please contact an administrator.').addClass('alert-error').slideDown();
					setTimeout(function(){
						$('.alert').slideUp('normal', function(){
							$('.alert').removeClass('alert-error');
						});
					}, 3000);
				}
			});
		});

		$('.accept_all, .pending_all').click(function(){
			var action = $(this).hasClass('pending_all') ? 'pending' : 'won';
			$("input:checked").each(function(x, y){
				callAjax(action, $(y).attr('value'), function(data){
					if (data.status == 200){
						$('.alert').html('Your modifications has been done! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
						setTimeout(function(){
							window.location.reload();
						}, 2000);
					}else{
						$('.alert').html('An error occured, please contact an administrator.').addClass('alert-error').slideDown();
						setTimeout(function(){
							$('.alert').slideUp('normal', function(){
								$('.alert').removeClass('alert-error');
							});
						}, 3000);
					}
				});
			});
		});
	});
</script>
