    <script src="/assets/fireworks.js?body=1" type="text/javascript"></script>
    <style type="text/css">
    	body{
    		background: url(/assets/bg-canvasV3.jpg);
    		background-repeat: no-repeat;
            background-position: center 0;
    		margin:0px;
    		padding: 0px;
    		background-color: #000;
    	}
    </style>
    <div id='main-container'>
        <div id='header'>
            <img src='/assets/logo.png' />
        </div>
    	<div class="welcome">
            <div id='hook-1' class='fontCopperplateGothicStd31AB fggold'>Welcome to our Moët</div>
            <div id='hook-2' class='fontCopperplateGothicStd31AB fgwhite'>Advent calendar</div>
            <div class='fgwhite fontAvenirLTStdLight' id='disclaimer'>
                Come and discover the magic greetings moments<br />
                and New Year spirit from Moët
            </div>
        </div>
        <div id='cycling'>
        	<div class='pola-big'>
                <img src='http://www.savac-voyages.com/wp-content/uploads/2012/12/37514-hi-Moet_Chandon_logo.jpg' />
                <p>December 3<sup>rd</sup></p>
            </div>
        </div>
        <div style='clear: both'></div>
        <!-- GALLERY SECTION -->
        <div class='row_home' id='slider-section'>
        	<div id='top-slider'>
                <div id='center-slider'>
                	
                </div>
                <div style='clear: both'></div>
            </div>
            <div class='fontAvenirLTStdLight' id='notice'>
                This contest is organized on Facebook. 
                Under no circumstances, this latter can be held responsible for any dispute in connection with this contest. Facebook is neither the organizer nor the sponsor. Moreover, all the personal data collected during the contest are only intented for Moët Hennessy and not for Facebook.
                <a href='#'>Terms and conditions</a>
            </div>
        </div>
    </div>

    <script type='text/javascript'>
    	$(document).ready(function(){
    		/* Effect overlay gallery */
    		$(document).on('mouseenter', '.thumbnail_', function(){
                $('.overlay-picture').fadeOut('fast');
                $(this).parent().find('.overlay-picture').fadeIn('fast');
            });
    		
            $(document).on('mouseleave', '.overlay-picture', function(){
                $('.overlay-picture').fadeOut('fast');
            });
    	});
    </script>