<div id="main-container" style="padding-top:10px;">
    <form action="javascript: void(0);" method="post" name='toastmoet'>
        <h3>Please fill in the form<br/>to validate your entry</h3>
        <div class="field">
            <center class='fgwhite fontCopper1'>
                <span>Select your photo</span><br />
                <input id="file_upload" name="file_upload" type="file" multiple="true">
                <div id="queue" style=''></div>
            </center>
        </div>
        <input type='hidden' name='fbid' value='<%=id%>' />
        <input type='hidden' name='picture_id' id='picture_id' value='' />
        <input type='hidden' name='fb_username' value='<%=username%>' />
        <div id="central-part">
            <table class="field">
                <td class='label'>
                    <label for="firstname">Firstname</label>
                </td>
                <td class='input'>
                    <input type="text" name="first_name" value="<%=first_name%>"/>
                </td>
            </table>
            <table class="field">
                <td class='label'>
                    <label for="lastname">Lastname</label>
                </td>
                <td class='input'>
                    <input type="text" name="last_name" value='<%=last_name%>'/>
                </td>
            </table>
            <table class="field">
                <td class='label'>
                    <label for="email">E-mail</label>
                </td>
                <td class='input'>
                    <input type="text" name="email" value='<%=email%>' />
                </td>
            </table>
            <table class="field">
                <td class='label'>
                    <label for="address">Address</label>
                </td>
                <td class='input'>
                    <input type="text" name="address"/>
                </td>
            </table>
            <table class="field">
                <td class='label'>
                    <label for="city">City</label>
                </td>
                <td class='input'>
                    <input type="text" name="city"/>
                </td>
            </table>
            <table class="field">
                <td class='label'>
                    <label for="zipcode">Zipcode</label>
                </td>
                <td class='input'>
                    <input type="text" name="zip_code"/>
                </td>
            </table>
            <table class="field">
                <td class='label'>
                    <label for="country">Country</label>
                </td>
                <td class='input'>
                    <input type="text" name="country"/>
                </td>
            </table>
        </div>
        
        <div id="checkboxes">
            <div class="field">

                <div class="row_checkbox">
                    <div class="img"></div><div class="checkbox-text fggold fontCopper1"><a href='Terms_EOY.pdf' target='_blank'><u>I agree with the rules</u></a></div>
                    <input type="hidden" name="rules" value="">
                </div>
            </div><br/>
            <div class="field">

                <div class='row_checkbox'>
                    <div class='img'></div><div class='checkbox-text fggold fontCopper1'>I agree to receive the Moët & Chandon newsletter</div>
                    <input type='hidden' name='newsletter' value='' />
                </div>
<!--                 <input type="checkbox" name="newsletter" value="1">
    <label for="newsletter">I agree to receive the Moët & Chandon newsletter</label> -->
</div>
</div>
<div class='error' style='display: none; text-align:center; font-size: 12px; color: #fff; margin-top: 20px;'></div>

<button onclick="$('form').submit()" id="submit-button">&gt; Validate</button>

<!-- <input type="submit" value="> Validate">
--><br/>
<center>
    <a href="../" class='fontCopperplateGothicStd31AB fggold'>< Back</a>
</center>

</form>

<div id='done' style='display:none; margin-top: 25px;'>
    <center>
        <span id='thanks1' class='fontCopperplateGothicStd31AB fggold'>THANK YOU!</span><br />
        <span id='thanks2' class='fontCopperplateGothicStd31AB fgwhite'>YOUR PICTURE HAS BEEN SENT!</span>
    </center>

    <br /><br />

    <center id='msg' class='fontAvenirLTStdLight fgwhite'>
        Your pic isn't viewable in the gallery yet 
        because it must first be approved by our moderators.<br />
        You will receive an email to inform you 
        if your picture has been accepted or not.
    </center><br/>
    <center>
        <a href="../"><button id="participate-button">&gt; Back</button></a>
    </center>
</div>
</div>

<script type='text/javascript'>
    $(document).ready(function(){

        function everythingIsFine(f){
            var st = true;
            if (f.find("input[name='first_name']").val() == ""){
                st = false;
                f.find("input[name='first_name']").css('border', '1px solid #660000');
            }else{
                f.find("input[name='first_name']").css('border', '1px solid #000');
            }
            if (f.find("input[name='last_name']").val() == ""){
                st = false;
                f.find("input[name='last_name']").css('border', '1px solid #660000');
            }else{
                f.find("input[name='last_name']").css('border', '1px solid #000');
            }
            if (f.find("input[name='email']").val() == ""){
                st = false;
                f.find("input[name='email']").css('border', '1px solid #660000');
            }else{
                f.find("input[name='email']").css('border', '1px solid #000');
            }
            if (f.find("input[name='address']").val() == ""){
                st = false;
                f.find("input[name='address']").css('border', '1px solid #660000');
            }else{
                f.find("input[name='address']").css('border', '1px solid #000');
            }
            if (f.find("input[name='city']").val() == ""){
                st = false;
                f.find("input[name='city']").css('border', '1px solid #660000');
            }else{
                f.find("input[name='city']").css('border', '1px solid #000');
            }
            if (f.find("input[name='zip_code']").val() == ""){
                st = false;
                f.find("input[name='zip_code']").css('border', '1px solid #660000');
            }else{
                f.find("input[name='zip_code']").css('border', '1px solid #000');
            }
            if (f.find("input[name='country']").val() == ""){
                st = false;
                f.find("input[name='country']").css('border', '1px solid #660000');
            }else{
                f.find("input[name='country']").css('border', '1px solid #000');
            }
            if (f.find("input[name='rules']").val() == ""){
                st = false;
                f.find("input[name='rules']").prev().css('color', '#660000');
            }else{
                f.find("input[name='rules']").prev().css('color', '#d3a553');
            }
            if (f.find("input[name='picture_id']").val() == "")
                st = false;

            return(st);
        }

/*        $('form').on('submit', function(e){
            if (everythingIsFine($('#form')))
                $('#file_upload').uploadifive('upload');
        });*/
/* Checkbox animation */
$('div.img, div.img.checked').click(function(){
    if ($(this).parent().find('.img').hasClass('checked')){
        $(this).parent().find('.img').removeClass('checked');
        $(this).parent().find('input').val('');
    }else{
        $(this).parent().find('.img').addClass('checked');
        $(this).parent().find('input').val('1');
    }
});

var state_submit_button = false;
$('form').on('submit', function(e){
    state_submit_button = (state_submit_button)?false:true;
    $('#submit-button').attr('onclick', '');
    if (state_submit_button && everythingIsFine($('form'))){
        

        $.ajax({
            url: '/subscribes/form',
            data: $('form').serialize(),
            dataType: 'json',
            type: 'POST',
            success: function(response){
                $('form').fadeOut('fast', function(){
                    _gaq.push(['_trackEvent', 'Facebook_App', 'Validate', null, null, true]);
                    $('#done').fadeIn('fast', function(){
                        /*setTimeout(function(){window.location.href = '../'},5000)*/
                        /*parent.$.fancybox.update();*/
                    });
                });
/*                parent.$.fancybox.close()
            $.fancybox.open {
                autoSize : false,
                width: '90%',
                type: 'ajax',
                beforeShow: function() {this.skin.css("background-color", "black")}
                content: $('#done');
            }*/
        }
    })
    }else{
         state_submit_button = false;
        $('#submit-button').attr("onclick", "$('form').submit()");
        $('.error').html('Please, fill each input to validate your form').slideDown('fast');
    }
});


$('#file_upload').uploadifive({
    'auto'             : true,
    'multi'            : false,
    'width'            : 180,
    'buttonText'       : ' > CHOOSE A FILE',
    'queueID'          : 'queue',
    'uploadScript'     : '/subscribes.json',
    'onUploadComplete' : function(file, data) {
        $('#picture_id').val(JSON.parse(data).file_id);

    }
});
});
</script>