<div id='popup-form'>
   <form name='toastmoet' method='post' action='javascript: void(0);' id='form'>
      <center class='fgwhite fontCopper1'>
         Please fill in the form to validate your entry<br />
         <span>Select your photo</span><br />
          <input id="file_upload" name="file_upload" type="file" multiple="true" style='cursor: pointer;'>
          <div id="queue" style=''></div>
      </center>
      <input type='hidden' name='fbid' value='<%=id%>' />
        <input type='hidden' name='picture_id' id='picture_id' value='' />
        <input type='hidden' name='fb_username' value='<%=username%>' />
      <div class='row_form'>
         <div class='fggold fontCopper1'>FIRST NAME</div> <input class='fgwhite fontAvenirLTStdLight' type='text' name='first_name' value='<%=first_name%>' />
      </div>
      <div class='row_form'>
         <div class='fggold fontCopper1'>LAST NAME</div> <input class='fgwhite fontAvenirLTStdLight' type='text' name='last_name' value='<%=last_name%>' />
      </div>
      <div class='row_form'>
         <div class='fggold fontCopper1'>E-MAIL</div> <input class='fgwhite fontAvenirLTStdLight' type='text' name='email' value='<%=email%>' />
      </div>
      <div class='row_form'>
         <div class='fggold fontCopper1'>ADDRESS</div> <input class='fgwhite fontAvenirLTStdLight' type='text' name='address' value='' />
      </div>
      <div class='row_form'>
         <div class='fggold fontCopper1'>ZIP CODE</div> <input class='fgwhite fontAvenirLTStdLight' type='text' name='zip_code' value='' />
      </div>
      <div class='row_form'>
         <div class='fggold fontCopper1'>CITY</div> <input class='fgwhite fontAvenirLTStdLight' type='text' name='city' value='' />
      </div>
      <div class='row_form'>
         <div class='fggold fontCopper1'>COUNTRY</div> <input class='fgwhite fontAvenirLTStdLight' type='text' name='country' value='' />
      </div>
      <div style='clear: both'></div>
      <div class='row_checkbox'>
         <div class='img'></div><div class='checkbox-text fggold fontCopper1'><a href='Terms_EOY.pdf' target='_blank'><u>I AGREE WITH THE RULES</u></a></div>
          <input type='hidden' name='rules' value='' />
      </div>
      <div class='row_checkbox'>
         <div class='img'></div><div class='checkbox-text fggold fontCopper1'>I agree to receive the Moët & Chandon newsletter</div>
          <input type='hidden' name='newsletter' value='' />
      </div>
      <center style='margin-bottom: 30px;'>
         <div class='error' style='display: none; font-size: 12px; color: #fff; margin-top: 20px;'></div>
          <button class='fgwhite fontAvenirLTStdLight' id='validate'> > VALIDATE </button>
      </center>
   </div>
   <div id='done' style='display: none;'>
      <center>
           <span id='thanks1' class='fontCopperplateGothicStd31AB fggold'>THANK YOU!</span><br />
         <span id='thanks2' class='fontCopperplateGothicStd31AB fgwhite'>YOUR PICTURE HAS BEEN SENT!</span>
        </center>
        
        <br /><br />
        
        <center id='msg' class='fontAvenirLTStdLight fgwhite'>
           Your pic isn't viewable in the gallery yet<br />
            because it must first be approved by our moderators.<br />
            You will receive an email to inform you<br />
            if your picture has been accepted or not.
        </center>
   </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    function everythingIsFine(f){
        var st = true;
        if (f.find("input[name='first_name']").val() == ""){
            st = false;
            f.find("input[name='first_name']").css('border', '1px solid #660000');
        }else{
            f.find("input[name='first_name']").css('border', '1px solid #000');
        }
        if (f.find("input[name='last_name']").val() == ""){
            st = false;
            f.find("input[name='last_name']").css('border', '1px solid #660000');
        }else{
            f.find("input[name='last_name']").css('border', '1px solid #000');
        }
        if (f.find("input[name='email']").val() == ""){
            st = false;
            f.find("input[name='email']").css('border', '1px solid #660000');
        }else{
            f.find("input[name='email']").css('border', '1px solid #000');
        }
        if (f.find("input[name='address']").val() == ""){
            st = false;
            f.find("input[name='address']").css('border', '1px solid #660000');
        }else{
            f.find("input[name='address']").css('border', '1px solid #000');
        }
        if (f.find("input[name='zip_code']").val() == ""){
            st = false;
            f.find("input[name='zip_code']").css('border', '1px solid #660000');
        }else{
            f.find("input[name='zip_code']").css('border', '1px solid #000');
        }
        if (f.find("input[name='city']").val() == ""){
            st = false;
            f.find("input[name='city']").css('border', '1px solid #660000');
        }else{
            f.find("input[name='city']").css('border', '1px solid #000');
        }
        if (f.find("input[name='country']").val() == ""){
            st = false;
            f.find("input[name='country']").css('border', '1px solid #660000');
        }else{
            f.find("input[name='country']").css('border', '1px solid #000');
        }
        if (f.find("input[name='rules']").val() == ""){
            st = false;
            f.find("input[name='rules']").prev().css('color', '#660000');
        }else{
            f.find("input[name='rules']").prev().css('color', '#d3a553');
        }
        if ($('#picture_id').val() == "")
        st = false;

        return(st);
    }

    /* Checkbox animation */
    $('div.img, div.img.checked').click(function(){
        if ($(this).parent().find('.img').hasClass('checked')){
            $(this).parent().find('.img').removeClass('checked');
            $(this).parent().find('input').val('');
        }else{
            $(this).parent().find('.img').addClass('checked');
            $(this).parent().find('input').val('1');
        }
    });

    $('form').on('submit', function(e){
        if (everythingIsFine($('#form')))
            $.ajax({
                url: '/subscribes/form',
                data: $('#form').serialize(),
                dataType: 'json',
                type: 'POST',
                success: function(response){
                    $('#form').fadeOut('fast', function(){
                        _gaq.push(['_trackEvent', 'Facebook_App', 'Validate', null, null, true]);
                        $('#done').fadeIn('fast');
                    });
                }
            });
        else{
            $('.error').html('Please, fill each input to validate your form').slideDown('fast');
        }
    });

    if (navigator.userAgent.match(/MSIE 9.0|MSIE 8.0|MSIE 7.0|MSIE 6.0/)){
        $("#file_upload").uploadify({
            multi            : false,
            width            : 200,
            buttonText       : ' > CHOOSE A FILE',
            queueID          : 'queue',
            uploader         : '/subscribes.json',
            onUploadSuccess  : function(file, data, response) {
                $('#picture_id').val(JSON.parse(data).file_id);
            }  
        });
    }else{
        $('#file_upload').uploadifive({
            'auto'             : true,
            'multi'            : false,
            'width'            : 180,
            'buttonText'       : ' > CHOOSE A FILE',
            'queueID'          : 'queue',
            'uploadScript'     : '/subscribes.json',
            'onUploadComplete' : function(file, data) {
                $('#picture_id').val(JSON.parse(data).file_id);
            }
        });
    }
});
</script>
<!--[if lte IE 8]>
  <style type="text/css">

    .uploadify {
      margin: auto; cursor: pointer; font-size: 18px; font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      background: #000;
      border: 0px;
      margin-top: 25px;
      font-family: 'AvenirLTStdLight';
      color: #fff;
      border-radius: 0;
      text-shadow: none;
    }
    .uploadify-button {
      background: #000
    }
    .uploadify:hover .uploadify-button {
    background-color: #000;
    background-image: linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #606060),
      color-stop(1, #808080)
    );
    background-position: center bottom;
    }
    .uploadify-button.disabled {
      background-color: #D0D0D0;
      color: #808080;
    }
    .uploadify-queue {
    margin-bottom: 1em;
    }
    .uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
    }
    .uploadify-error {
    background-color: #FDE5DD !important;
    }
    .uploadify-queue-item .cancel a {
    background: url('../img/uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
    }
    .uploadify-queue-item.completed {
    background-color: #E5E5E5;
    }
    .uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
    }
    .uploadify-progress-bar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
    }

     queue{}

     .uploadifive-queue-item,  .uploadify-queue-item{border-bottom: 0; padding: 5px; margin-top: 20px;}

     .uploadifive-queue-item .progress,  .uploadify-queue-item .progress{width: 177px; float: left; height: 2px; }

     .uploadifive-queue-item .progress .progress-bar,
     .uploadify-queue-item .progress .progress-bar{
        background-color: #d5aa5f;
        background-image: none;
    }

     .filename{display: none;}
     .fileinfo{font-size: 12px;}
     .uploadifive-queue-item,
     .uploadify-queue-item{
        width: 200px;
        font-size: 11px;
        background: #313131;
        color: #fff;
        height: 15px;
    }

     center{text-transform: uppercase; font-size: 21px;}
     center span{text-transform: uppercase; font-size: 18px;}
     button{
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        padding: 5px 10px;
        background: #d5aa5f;
        border: 0px;
        margin-top: 25px;
        font-weight: bold;
    }

     .row_form{
        float: right;
        margin-right: 165px;
        margin-top: 15px;
        height: 40px;
    }

     .row_form div{
        text-transform: uppercase;
        font-size: 14px;
        float: left;
        margin-top: 10px;
    }
     .row_form input{border: 1px solid #000; width: 258px; height: 35px; background: #313131; border: 0px; border-radius:5px; margin-left: 10px; font-size: 14px; color: #fff; padding: 0 10px;}

     .row_checkbox{
        border: 1px solid #000;
        margin-left: 170px;
        margin-top: 15px;
        height: 20px;
    }

     .row_checkbox .checkbox-text{
        font-size: 12px;
        padding-top: 3px;
        text-transform: uppercase;
        display: table-cell;
    }

     .row_checkbox .checkbox-text a:link, .row_checkbox .checkbox-text a:visited, .row_checkbox .checkbox-text a:hover{color: #d3a553; text-decoration: none;}

     .row_checkbox .img{
        cursor: pointer;
        height: 16px;
        width: 14px;
        background: url(/assets/sprite-checkbox.jpg);
        background-position: 0 16px;
        float: left;
        margin-right: 10px;
    }

     .row_checkbox .img.checked{
        background-position: 0 0;
    }

     #thanks1{font-size: 22px;}
     #thanks2{font-size: 20px;}
     #msg{font-size: 14px; margin-bottom: 20px;}
  </style>
<![endif]-->