<div id="main-container">
	<div id="header">
     <img src="/assets/mobile/logo.png" alt="Moët & Chandon"/>
 </div>
 <div id='bouteille'>
    <img src="/assets/mobile/bouteille.png" alt="Moët & Chandon"/>
</div>
<div id="content-top">
 <h2 class="fontCopperplateGothicStd31AB">
     <span class="fggold">WARM THANKS TO ALL OUR FANS!</span><br/> 
     <span class="fgwhite">TO HAVE SHARED YOUR GLAMOROUS
MOMENTS WITH MOËT.</span>
 </h2>
 <div class="description">
    The Contest has ended!<br />
    From the 1st december, discover the winners each day in our<br />
    <span class='fggold'>MOËT ADVENT CALENDAR.</span>
</div>
</div>
<div class="clear"></div>

<div id="container-tab">
 <% /* 
 <div id="menu-tab">
     <ul>	
         <li class="active" id='gallery_link'><a href="javascript:void(0);">Gallery</a></li>
         <li class="separator"></li>
         <li id='participate_link'><a href="javascript:void(0);">Participate</a></li>
         <li class="separator"></li>
         <li id='win_link'><a href="javascript:void(0);">Prizes</a></li>
     </ul>
     <div class="clear"></div>
 </div>
*/ %>
 <h2 style="color: #d3a553; font-family: 'HW'; font-size: 25px; margin-top: 0; text-align: center; margin-bottom:0;">The glamorous Moët moments gallery</h2>
 <div class='row_home' id="gallery">
     <!-- <ul>
         <li class="active" id='new_gallery'><a href="javascript:void(0)"><span class="arrow"></span>The most recent</a></li>
         <li id='famous_gallery'><a href="javascript:void(0)"><span class="arrow"></span>The most popular</a></li>
     </ul> -->
     <div class="clear"></div>

     <div id="pictures">

     </div>
     <p class="asterisk">*For full contests details, please refer to the rules of the game here: <a href='Terms_EOY.pdf' target="_blank">Rules</a></p>
 </div><!-- gallery -->

 <div class='row_home' id="participate">
     <h3>How do I enter?</h3>
     <div id="direct-upload">
         <p>Upload your pictures<br/>directly from your mobile</p>
         <a href="#/form"><button id='participate-button'>> participate</button></a>
     </div>
     <p class="or">or</p>
     <div id="insta-upload">
         <p>Enter via <img src="/assets/mobile/instagram.png" alt="Instagram"/></p>
         <ul>
             <li>Make sure your account is public</li><br/>
             <li>Add <span class="fggold">#ToastMoet</span> and mention <span class="fggold">@moet(your country here)</span></li>
         </ul>
         <div id="btn_store">
             <a href="#" target="_blank"><img src="/assets/mobile/googleplay.png" alt="Download on Google play"/></a>
             <a href="#" target="_blank"><img src="/assets/mobile/appstore.png" alt="Download on the iPhone App Store"/></a>
         </div>
     </div>
     
     <p class="asterisk">*For full contests details, please refer to the rules of the game here: <a href='Terms_EOY.pdf' target="_blank">Rules</a></p>
 </div><!-- participate -->

 <div class='row_home' id="prizes">
     <div class="prize">
        <h3><span class="fggold">2 days touring*<br/>Moët & Chandon's legendary<br/>wine cellars</span><br/>in France's Champagne country!</h3>
        <img src="/assets/mobile/map.png" alt="" class="map"/>
    </div>
    <div class="prize">
        <h3><span class="fggold">Your photo in our Moët</span><br/>Holiday season calendar!</h3>
        <img src="/assets/mobile/calendar.png" alt="" class="calendar"/>
    </div>
    <p class="asterisk">*For full contests details, please refer to the rules of the game here: <a href='Terms_EOY.pdf' target="_blank">Rules</a></p>
</div><!-- prizes -->
</div>
</div>
<script>
    $(document).ready(function(){
        setInterval(function(){
            var w = $('.thumbcover').width();
            $('.thumbcover').css({'height':w+'px'});
            $('.thumbcover img').each(function() {
                $(this).css('margin-top', (w-$(this).height())/2+'px');
            })
        },1000);       
    });

/*$( window ).resize(function() {
    var w = $('.thumbcover').width();
    $('.thumbcover').css({'height':w+'px'});
    $('.thumbcover img').each(function() {
        $(this).css('margin-top', (w-$(this).height())/2+'px');
    })
});*/
</script>