    <style type="text/css">
    	body{
    		background: url(/assets/bg-canvasV3.jpg);
    		background-repeat: no-repeat;
            background-position: center 0;
    		margin:0px;
    		padding: 0px;
    		background-color: #000;
    	}
    </style>
    <div id='main-container'>
        <div id='header'>
            <img src='/assets/logo.png' />
        </div>
    	<div id='hook-1' class='fontCopperplategothicstd29bc fggold'><br/><br/><br/><br/>WARM THANKS TO ALL OUR FANS!</div>
    	<div id='hook-2' class='fontCopperplategothicstd29bc fgwhite'>TO HAVE SHARED YOUR GLAMOROUS</div>
        <div id='hook-2' class='fontCopperplategothicstd29bc fgwhite'>MOMENTS WITH MOËT.</div>
        <div class='fgwhite fontAvenirLTStdLight' id='disclaimer' style="font-size:17px;">
        	The Contest has ended!<br />
            From the 1st december, discover the winners each day in our<br />
            <span class='fggold'>MOËT ADVENT CALENDAR.</span><br /><br/><br/><br/><br/>
        </div>
    	<div style='clear: both'></div>
        
        <p class='fgwhite fontCopperplategothicstd29bc' id='discover-glimmer'><a onClick="_gaq.push(['_trackEvent', 'Discover', 'Golden Dust Jeroboam Limited Edition', null, null, true]);" target='_blank' href='http://moet.com '><img style='border: 0px;' src="/assets/arrow-right-white.png" width="6" height="9" />&nbsp;DISCOVER THE MOET GOLDEN DUST COLLECTION</p></a>
       
        <div class='fgwhite fontAvenirLTStdLight button-menu' id='gallery_link' style='margin-left: 93px;'>GALLERY</div>
        <div class='fgbrown fontAvenirLTStdLight button-menu' id='participate_link'>PARTICIPATE</div>
        <div class='fgbrown fontAvenirLTStdLight button-menu' id='win_link'>PRIZES</div>

        

        <div style='clear: both'></div>
        <h2 style="color: #d3a553; font-family: 'HW'; font-size: 35px; margin-top: 0; text-align: center; margin-bottom:0;">The glamorous Moët moments gallery</h2>

    <!-- WIN SECTION -->
    <div id='win-section' class='row_home'>
    	<div class='fgwhite fontCopperplateGothicStd31AB'>
        	<span class='fggold'>2 DAYS TOURING*<br />
    		MOET & CHANDON'S LEGENDARY WINE CELLARS</span><br />
    		IN FRANCE'S CHAMPAGNE COUNTRY!
        </div>
        	<center>
            	<img src='/assets/gift.png' />
            </center>
    	<div class='fgwhite fontCopperplateGothicStd31AB'>
        	<span class='fggold'>YOUR PHOTO IN OUR MOET</span><br />
    		HOLIDAY SEASON CALENDAR! 
        </div>
		<center>
        	<img src='/assets/calendar.png' />
        </center>
    </div>
    <!-- END WIN SECTION -->
    <!-- PARTICIPATE SECTION -->
    <div id='participate-section' class='row_home'>
    	<center class='fggold fontAvenirLTStdLight'>HOW DO I ENTER?</center>
        <div class='row-participate fggold fontAvenirLTStdLight'>
        	<img class='device' src='/assets/picto-desktop.png' /> <span id='mob' class='desc fggold'>ON DESKTOP</span>
            <div class='intro fgwhite' style='margin-top: 45px;'>
            	Upload your pictures<br />directly from your computer
            </div>
            <div class='square_gold fontAvenirLTStdLight fgwhite' id='participate-button'>> PARTICIPATE</div>
        </div>
        <div class='row-participate fggold fontAvenirLTStdLight'>
    		<img class='device' src='/assets/picto-mobile.png' /> <span id='mob' class='desc fggold'>ON MOBILE</span>
            <div class='intro fgwhite'>
            	Enter via <img class='instagram' src='/assets/instagram-logo.png' /><br />
                <img src='/assets/arrow-right-white.png' /> Make sure your account is public<br />
    			<img src='/assets/arrow-right-white.png' /> Add <span class='fggold'>#ToastMoet</span> and mention <span class='fggold'>@moet(your country here)</span>
            </div>
            <img class='store' src='/assets/googleplay-icon.png' />
    		<img class='store' src='/assets/appstore-icon.png' />
        </div>
    </div>
    <!-- END PARTICIPATE SECTION -->
    <!-- GALLERY SECTION -->
    <div class='row_home' id='slider-section'>
    	<div id='top-slider'>
        	<!--<span class="fgwhite fontAvenirLTStdLight" id='new_gallery'><img src="/assets/arrow-right-white.png" width="6" height="9" />&nbsp;THE MOST RECENT</span>
            <span class="fggold fontAvenirLTStdLight" id='famous_gallery'><img src="/assets/arrow-right-gold.png" width="6" height="9" />&nbsp;THE MOST POPULAR</span>--></div>
            <div class='arrow-slider fontCopper1 fggold' id='previous_gallery'>
            	<
            </div>
            <div id='center-slider'>
            	
            </div>
    		<div class='arrow-slider fontCopper1 fggold' id='next_gallery'>
            	>
            </div>
            <div style='clear: both'></div>
            <center><div id='paginate' class='fgwhite fontAvenirLTStdLight' style='display: table-cell;'></div></center>
        </div>
        <div style="clear:both"></div>
        <span class='fgwhite fontAvenirLTStdLight phrase_reglement'>*For full contests details, please refer to the rules of the game here: <a href='Terms_EOY.pdf' target="_blank">rules</a></span>
        <div class='fontAvenirLTStdLight' id='notice'>
            This contest is organized on Facebook. 
            Under no circumstances, this latter can be held responsible for any dispute in connection with this contest. Facebook is neither the organizer nor the sponsor. Moreover, all the personal data collected during the contest are only intented for Moët Hennessy and not for Facebook.
            <a href='Terms_EOY.pdf'>Terms and conditions</a>
        </div>

    </div>

    <script type='text/javascript'>
    	$(document).ready(function(){
    		/* Effect overlay gallery */
    		$(document).on('mouseenter', '.thumbnail_', function(){
                $('.overlay-picture').fadeOut('fast');
                $(this).parent().find('.overlay-picture').fadeIn('fast');
            });
    		
            $(document).on('mouseleave', '.overlay-picture', function(){
                $('.overlay-picture').fadeOut('fast');
            });
    	});
    </script>
<!-- <div id='slider' class='row_home' style='display: block;'>



	<a href='javascript: void(0);' id='new_gallery'>Les + recentes</a>
	<a href='javascript: void(0);' id='famous_gallery'>Les + populaires</a>
	<div id="gallery">

	</div>
	<div style='clear: both'></div>
	<a href='javascript: void(0);' id='previous_gallery'>Previous</a>
	<a href='javascript: void(0);' id='next_gallery'>Next</a>
	
</div> -->