<div id='done' style='display: block;'>
	<center>
    	<span id='thanks1' class='fontCopperplateGothicStd31AB fggold'>TO VOTE, YOU NEED TO ACCEPT THE PERMISSIONS!</span><br />
    </center>
    
    <br /><br />
    
    <center id='msg' class='fontAvenirLTStdLight fgwhite'>
    	Those permissions allow us to record your vote by your facebook user identification.
    </center>
</div>