<div>
	<img src="<%=picture.replace("http://", "https://")%>" style='max-height: 480px; max-width: 480px; margin-bottom: 10px;'/>
	<center>
        <div id='fb-dialog'></div>
        <div style='display: table-cell; width: 40px; height: 10px;'></div>
        <div id='tw-dialog'></div>
    </center>
	<div class='profile' style='text-align: center; margin-top: 0px;'>
        <% if(username == "timothee.roldao"){ %>
             <img src='https://scontent-b.xx.fbcdn.net/hphotos-frc3/525831_10150731658924793_1290054541_n.jpg' height='50' width='50' style='float: left; margin-left:' />
        <% }else { %>
            <img src='<%= profile_picture%>' height='50' width='50' style='float: left; margin-left:' />
        <% } %>
		
        
		<div class='fgblack fontAvenirLTStdLight' style='float: left; margin-left: 10px; text-align: left;'>
			Picture added by<br />
            <% if(username == "timothee.roldao"){ %>
                 <span class='fggold'>Möet & Chandon</span>
            <% }else { %>
			     <span class='fggold'><%= full_name %></span>
            <% } %>
		</div>
		<div style='clear: both'></div>
	</div>
</div>

<script type="text/javascript">
    $('#tw-dialog').click(function(e){
		//We tell our browser not to follow that link
		e.preventDefault();

		url = 'https://apps.facebook.com/<%=meta.config.facebook.app_namespace%>/?id_photo=<%=id%>';
		text = encodeURIComponent('SHARE YOUR GLAMOROUS GREETINGS MOMENTS! #toastmoet #moet');

		//We trigger a new window with the Twitter dialog, in the middle of the page
		window.open('http://twitter.com/share?url=' + url + '&text=' + text + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
             
    });

    $('#fb-dialog').click(function(){
        console.log('https://apps.facebook.com/<%=meta.config.facebook.app_namespace%>/?id_photo=<%=id%>');
        FB.ui({
                method: 'feed',
                link: 'https://apps.facebook.com/<%=meta.config.facebook.app_namespace%>/?id_photo=<%=id%>',
                picture: '<%=picture%>',
            name: 'SHARE YOUR GLAMOROUS GREETINGS MOMENTS! #TOASTMOET',
            caption: '',
            description: 'Upload or share your pic on our app or on Instagram, using the official hashtag #toastmoet followed by @moet(your country here). You could win 2 days touring Moët & Chandon\ss legendary wine cellars in Epernay, France and your photo could also be chosen to appear in the Moët & Chandon Advent calendar!'

        }, function(response){
                console.log(response);
        });
    });
</script>