<div>
	<% 
        var img = new Image();
        img.src = picture.replace("http://", "https://");

        img.addEventListener('load', function() {
            var w = 0;
            if(img.width > 233) w = 233;
            else w = img.width;

            var h = 0;
            if(img.width > 233) h = img.height * (233/img.width);
            else h = img.height;
            $(".img_loded").attr("style", "max-width: 100%; margin-bottom: 10px; width:"+w+"px; height:"+h+"px; background-image : url("+picture.replace('http://', 'https://')+"); background-size:100% auto;");
            /*console.log("<div style='max-width: 100%; margin-bottom: 10px; width:"+w+"px; height:"+h+"px; background-image : url("+picture.replace('http://', 'https://')+"); background-size:100% auto;'></div>");*/
         }, false);

    %>
    <div class="img_loded"></div>
    <!--<img src="<%=picture.replace("http://", "https://")%>" style='width: 100%;; margin-bottom: 10px;'/>-->
    <div 
	<center style="margin-bottom:10px">
        <div id='fb-dialog'></div>
        <div style='display: table-cell; width: 40px; height: 10px;'></div>
        <div id='tw-dialog'></div>
    </center>
	<div class='profile' style='text-align: center; margin-top: 0px;'>
		<img src='<%= profile_picture%>' height='50' width='50' style='float: left; margin-left:' />
		<div class='fgblack fontAvenirLTStdLight' style='float: left; margin-left: 10px; text-align: left;'>
			Picture added by<br />
			<span class='fggold'><%= full_name %></span>
		</div>
		<div style='clear: both'></div>
	</div>
</div>
<script>
$('.fancybox-inner img').on('load', function(){

    $.fancybox.update();
    // console.log("haha")
}).each(function() {
  if(this.complete) $(this).load();
});
</script>


<script type="text/javascript">
    $('#tw-dialog').click(function(e){
		//We tell our browser not to follow that link
		e.preventDefault();

		url = 'https://apps.facebook.com/<%=meta.config.facebook.app_namespace%>/?id_photo=<%=id%>';
		text = encodeURIComponent('SHARE YOUR GLAMOROUS GREETINGS MOMENTS! #toastmoet #moet');

		//We trigger a new window with the Twitter dialog, in the middle of the page
		window.open('http://twitter.com/share?url=' + url + '&text=' + text + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
             
    });

    $('#fb-dialog').click(function(){
        FB.ui({
                method: 'feed',
                link: 'https://apps.facebook.com/<%=meta.config.facebook.app_namespace%>/?id_photo=<%=id%>',
                picture: '<%=picture%>',
            name: 'SHARE YOUR GLAMOROUS GREETINGS MOMENTS! #TOASTMOET',
            caption: '',
            description: 'Upload or share your pic on our app or on Instagram, using the official hashtag #toastmoet followed by @moet(your country here). You could win 2 days touring Moët & Chandon\ss legendary wine cellars in Epernay, France and your photo could also be chosen to appear in the Moët & Chandon Advent calendar!'

        }, function(response){
                console.log(response);
        });
    });
</script>