<% if(data.request.page.liked == true){ %>
	<style type="text/css">
        body{
            background: url(/assets/push_fan/bg.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            margin:0px;
            padding: 0px;
        }
    </style>

	<div class='fgwhite fontCopperplategothicstd29bc' id='share-edito'><img src="/assets/arrow-right-white.png" width="6" height="9" />Share your glamorous greetings moments!</div>
   	<div class='fggold fontCopperplategothicstd29bc' id='tag-edito'>#toastmoet</div>
    <div style='clear: both'></div>
    <div class='pola-picture' style='margin-left: 300px;'>
    	<img src="/assets/push_fan/example-1.jpg" width="114" height="114" />
        <center class='fontAvenirLTStdLight fgbrown'>#ToastMoet @moetusa</center>
    </div>
    
	<div class='pola-picture'>
    	<img src="/assets/push_fan/example-2.jpg" width="114" height="114" />
		<center class='fontAvenirLTStdLight fgbrown'>#ToastMoet @moetusa</center>
    </div>
    
    <div class='pola-picture'>
    	<img src="/assets/push_fan/example-3.jpg" width="114" height="114" />
        <center class='fontAvenirLTStdLight fgbrown'>#ToastMoet @moetusa</center>
    </div>
    <div style='clear: both'></div>
    <div class='fgwhite fontCopperplategothicstd29bc' id='winner-edito'><img src="/assets/arrow-right-white.png" width="6" height="9" />Win a weekend in France's champagne country.</div>
    
    <div class='square_gold fontAvenirLTStdLight fgwhite' id="btn_enter">> PARTICIPATE</div>
    
    <div class='fgwhite fontAvenirLTStdLight' id='notifications'>
    	This contest is organized on Facebook. Under no circumstances, this latter can be held responsible for any dispute in connection with this contest. Facebook is neither the organizer nor the sponsor. Moreover, all the personal data collected during the contest are only intented for Moët Hennessy and not for Facebook. <a href='Terms_EOY.pdf' target='_blank'>Terms and conditions</a>
    </div>

<% }else{ %>

	<style type="text/css">
		body{
			background: url(/assets/push_non_fan/bg.png);
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			margin:0px;
			padding: 0px;
		}
	</style>
	<div id="popup-moet">
        <p id='text-intro' class='fgblack fontCopperplategothicstd29bc'>
        	Share your glamorous greetings moments<br/>
            and <span class='fggold'>Win</span> a weekend in France's Champagne country! <br/>
            <span class='fggold'>#ToastMoet</span>
        </p>
    	<p id='text-explain' class='fgblack fontCopperplategothicstd29bc'>
			Enter for a chance to win a weekend touring<br />
            Moët & Chandon's legendary wine cellars in Epernay, France.
        </p>
        <div style='clear: both;'></div>
		<div id='container-click-area'>
            <div id='click-area' class='fgblack fontCopperplategothicstd29bc'>Click on </div>
            <iframe src='/subscribes/like' scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:47px; height:22px;" allowTransparency="true"></iframe>
            <div id='click-area_' class='fgblack fontCopperplategothicstd29bc'> to participate</div>
            <div style='clear: both;'></div>
		</div>
    </div>
<% } %>