p, span, div, img {outline: none;}

@font-face {
	font-family: 'CopperplateGothicStd30BC';
	src: url('/assets/copperplategothicstd-30bc.eot');
	src: url('/assets/copperplategothicstd-30bc.eot') format('embedded-opentype'),
	url('/assets/copperplategothicstd-30bc.woff') format('woff'),
	url('/assets/copperplategothicstd-30bc.ttf') format('truetype'),
	url('/assets/copperplategothicstd-30bc.svg#CopperplateGothicStd30BC') format('svg');
}

@font-face {
	font-family: 'CopperplateGothicStd31AB';
	src: url(/assets/copperplategothicstd-31ab.eot);
	src: local('☺'), url(/assets/copperplategothicstd-31ab.woff) format('woff'), url(/assets/copperplategothicstd-31ab.ttf) format('truetype'), url(/assets/copperplategothicstd-31ab.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'HW';
    src: url('/assets/PhontPhreaks Handwriting.eot');
    src: url('/assets/PhontPhreaks Handwriting.eot?#iefix') format('embedded-opentype'),
    url('/assets/PhontPhreaks Handwriting.woff') format('woff'),
    url('/assets/PhontPhreaks Handwriting.ttf') format('truetype'),
    url('/assets/PhontPhreaks Handwriting.svg#PhontPhreaks_Handwriting') format('svg');
}

@font-face 
{
	font-family: 'AvenirLTStd45BookOblique';
	src: url('/assets/avenirltstd-bookoblique.eot');
	src: url('/assets/avenirltstd-bookoblique.eot') format('embedded-opentype'),
	url('/assets/avenirltstd-bookoblique.woff') format('woff'),
	url('/assets/avenirltstd-bookoblique.ttf') format('truetype'),
	url('/assets/avenirltstd-bookoblique.svg#AvenirLTStd45BookOblique') format('svg');

}

@font-face 
{
	font-family: 'AvenirLTStdHeavy';
	src: url('/assets/avenirltstd-heavy-webfont.eot');
	src: url('/assets/avenirltstd-heavy-webfont.eot') format('embedded-opentype'),
	url('/assets/avenirltstd-heavy-webfont.woff') format('woff'),
	url('/assets/avenirltstd-heavy-webfont.ttf') format('truetype'),
	url('/assets/avenirltstd-heavy-webfont.svg#AvenirLTStdHeavy') format('svg');
}

@font-face 
{
	font-family: 'AvenirLTStdLight';
	src: url('/assets/avenirltstd-light-webfont.eot');
	src: url('/assets/avenirltstd-light-webfont.eot') format('embedded-opentype'),
	url('/assets/avenirltstd-light-webfont.woff') format('woff'),
	url('/assets/avenirltstd-light-webfont.ttf') format('truetype'),
	url('/assets/avenirltstd-light-webfont.svg#AvenirLTStdLight') format('svg');
}

@font-face 
{
	font-family: 'AvenirLTStdRoman';
	src: url('/assets/avenirltstd-roman-webfont.eot');
	src: url('/assets/avenirltstd-roman-webfont.eot') format('embedded-opentype'),
	url('/assets/avenirltstd-roman-webfont.woff') format('woff'),
	url('/assets/avenirltstd-roman-webfont.ttf') format('truetype'),
	url('/assets/avenirltstd-roman-webfont.svg#AvenirLTStdRoman') format('svg');
}

@font-face 
{
	font-family: 'copperplategothicstd29bc';
	src: url('/assets/copperplategothicstd-29bc-webfont.eot');
	src: url('/assets/copperplategothicstd-29bc-webfont.eot') format('embedded-opentype'),
	url('/assets/copperplategothicstd-29bc-webfont.woff') format('woff'),
	url('/assets/copperplategothicstd-29bc-webfont.ttf') format('truetype');
}

@font-face 
{
	font-family: 'copperplategothicstd29ab';
	src: url('/assets/copperplategothicstd-29ab.eot');
	src: url('/assets/copperplategothicstd-29ab.eot') format('embedded-opentype'),
	url('/assets/copperplategothicstd-29ab.woff') format('woff'),
	url('/assets/copperplategothicstd-29ab.ttf') format('truetype'),
	url('/assets/copperplategothicstd-29ab.svg#CopperplateGothicStd29AB') format('svg');
}

@font-face 
{
	font-family: 'copperplategothictlromancn';
	src: url('/assets/copperplategothictl-romancn-webfont.eot');
	src: url('/assets/copperplategothictl-romancn-webfont.eot') format('embedded-opentype'),
	url('/assets/copperplategothictl-romancn-webfont.woff') format('woff'),
	url('/assets/copperplategothictl-romancn-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'CopperplateGothicStd31BC';
	src: url('/assets/copperplategothicstd-31bc.eot');
	src: url('/assets/copperplategothicstd-31bc.eot') format('embedded-opentype'),
	url('/assets/copperplategothicstd-31bc.woff') format('woff'),
	url('/assets/copperplategothicstd-31bc.ttf') format('truetype'),
	url('/assets/copperplategothicstd-31bc.svg#CopperplateGothicStd31BC') format('svg');
}

@font-face {
	font-family: 'CopperplateGothicStd32BC';
	src: url('/assets/copperplategothicstd-32bc.eot');
	src: url('/assets/copperplategothicstd-32bc.eot') format('embedded-opentype'),
	url('/assets/copperplategothicstd-32bc.woff') format('woff'),
	url('/assets/copperplategothicstd-32bc.ttf') format('truetype'),
	url('/assets/copperplategothicstd-32bc.svg#CopperplateGothicStd31BC') format('svg');
}

@font-face {
	font-family: 'CopperplateGothicStd33BC';
	src: url('/assets/copperplategothicstd-33bc.eot');
	src: url('/assets/copperplategothicstd-33bc.eot') format('embedded-opentype'),
	url('/assets/copperplategothicstd-33bc.woff') format('woff'),
	url('/assets/copperplategothicstd-33bc.ttf') format('truetype'),
	url('/assets/copperplategothicstd-33bc.svg#CopperplateGothicStd31BC') format('svg');
}

@font-face {
	font-family: 'phontphreaks_handwritingRg';
	src: url('/assets/phontphreakshandwriting-webfont.eot');
	src: url('/assets/phontphreakshandwriting-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/phontphreakshandwriting-webfont.woff') format('woff'),
	url('/assets/phontphreakshandwriting-webfont.ttf') format('truetype'),
	url('/assets/phontphreakshandwriting-webfont.svg#phontphreaks_handwritingRg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*----------------------------------------*/
/*--------------- GENERAL ----------------*/
/*----------------------------------------*/
* { margin:0; padding: 0; }
body {background: #000 !important; color: #fff; font-family: 'AvenirLTStdLight'; }
img { max-width: 100%; }
ul { margin:0; padding:0; }
ul li { margin:0; padding:0; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.fggold { color: #d3a553; }
.fgwhite { color: #fff; }
.fgblack { color: #000; }
.fgbrown { color: #735113; }
.fggrey { color: #adadad; }

.fontCopperplateGothicStd30BC{ font-family: 'CopperplateGothicStd30BC';}
.fontCopperplateGothicStd31AB{ font-family: 'CopperplateGothicStd31AB', Gerogia, Garamond, serif;}
.fontAvenirOblique{ font-family: 'AvenirLTStd45BookOblique';}
.fontAvenirLTStdLight{font-family: 'AvenirLTStdLight';}
.fontCopperplategothicstd29bc{ font-family: 'copperplategothicstd29bc';}
.fontCopper1{ font-family: 'CopperplateGothicStd31BC';}
.fontCopper2{ font-family: 'CopperplateGothicStd32BC';}

#header { text-align: center; padding-top: 7px; }
#header img { width: 35%; }
#main-container { 
/*	width: 100%; 
	background:#000 url('/assets/mobile/bg.jpg') no-repeat center top; 
	background-size:100% auto; */
	background-image: url('/assets/mobile/bg.jpg');
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}


/*----------------------------------------*/
/*----------------- TOP ------------------*/
/*----------------------------------------*/
#content-top { float: right; width: 79%; margin: 23px 0 15px 0; }
#content-top h2 { font-size: 1em; }
#content-top h3 { text-transform: uppercase; font-size: 0.9em; }
#content-top .description p { font-size: 0.8em; padding: 7px 0; }
#bouteille{width: 20%;float: left;max-height: 100px;position: absolute;top: 10px;}
#bouteille img{width: 100%;max-width: 100px;}
#container-tab #menu-tab { background: #d3a553; }
#container-tab #menu-tab ul li { float: left; list-style-type: none; width: 33%; }
#container-tab #menu-tab ul li a { 
	color: #735113; 
	text-transform: uppercase; 
	text-decoration: none; 
	line-height: 40px; 
	display: block; 
	text-align: center;
	font-family: 'AvenirLTStdHeavy';
	font-size: 0.9em;
}
#container-tab #menu-tab ul li a:hover { color: #fff; }
#container-tab #menu-tab ul li.active a { color: #fff; }
#container-tab #menu-tab ul li.separator { background: #735113; height: 40px; width: 1px; }

/*----------------------------------------*/
/*--------------- GALLERY ----------------*/
/*----------------------------------------*/
/*#gallery { display: none; }*/

#gallery ul li { 
	text-transform: uppercase; 
	font-size: 0.7em; 
	font-weight: bolder; 
	float: left;
	width: 49%;
	text-align: center; 
	margin: 15px 0;
	font-family: 'AvenirLTStdHeavy';
	list-style-type: none;
}
#gallery ul li a { color: #d3a553; text-decoration: none; }
#gallery ul li a:hover { color: #fff;}
#gallery ul li a span.arrow { 
	display: inline-block;
	background: url(/assets/mobile/arrow_gold.png) no-repeat; 
	background-size: 5px 6px; 
	width: 5px;
	height: 6px;
	padding: 0 4px 1px 0;
}
#gallery ul li.active a { color: #fff; }
#gallery ul li.active a span.arrow { 
	display: inline-block;
	background: url(/assets/mobile/arrow_white.png) no-repeat; 
	background-size: 5px 6px; 
}

#pictures { text-align: center; width: 90%; margin: 0 auto; padding-bottom: 15px; }
#pictures .picture { width: 45%; display: inline-block; margin: 5% 1.5% 7px 2.5%; float: left;}
#pictures .picture .thumbcover{width: 100%;  overflow: hidden;}
#pictures .picture .thumbcover img{width:100%;}
#pictures .info_user{width: 100%;}
#pictures .info_user img { width: 24%; padding: 4px 4px 0 0;}
#pictures .info_user p { width: 71%; font-size: 0.65em; padding-top: 6px; text-align: left; margin-left: 4px;}


/*----------------------------------------*/
/*------------- PARTICIPATE --------------*/
/*----------------------------------------*/
#participate { display: none; }
#participate { text-align: center; padding-bottom: 25px; }
#participate h3 { 
	color: #d3a553; 
	text-transform: uppercase; 
	font-family: 'copperplategothicstd29bc'; 
	font-size: 1.5em;
	margin: 15px 0 20px 0;
}
#participate p { font-size: 0.8em; font-weight: bold; margin: 0 0 7px 0; }
#participate p.or { 
	font-size: 1em; 
	font-weight: bold; 
	margin: 35px 0 25px 0;
	color: #d3a553; 
	text-transform: uppercase; 
}

#participate #direct-upload button { 
	background: #d3a553; 
	border: none; 
	color: #fff; 
	font-family: 'CopperplateGothicStd30BC';
	font-size: 1.5em;
	padding: 2% 5% 2% 5%;
}

#participate #insta-upload p img { 
	width: 97px;
	position: relative;
	top: 12px;
	padding: 0 0 0 4px; 
}
#participate #insta-upload ul { margin: 0 0 7px 0;  }
#participate #insta-upload ul li { 
	font-size: 0.8em;
	list-style-type: none;
	background-image: url(/assets/mobile/arrow_white.png);
	background-repeat: no-repeat;
	background-size: 5px 6px;
	background-position: 0 0.42em;
	padding-left: 9px;
	display: inline;
}
#participate #insta-upload #btn_store a img { width: 42%; margin: 0 3px; }


/*----------------------------------------*/
/*---------------- PRIZES ----------------*/
/*----------------------------------------*/
#prizes { display: none; }
#prizes { width: 90%; margin: 0 auto; text-align: center; padding-bottom: 25px; }
#prizes .asterisk { font-size: 0.8em; text-align: left; }

#prizes .prize { margin: 10px 0; }
#prizes .prize h3 { 
	font-family: 'CopperplateGothicStd31AB'; 
	font-size: 0.7em; 
	text-align: left; 
	text-transform: uppercase; 
}
#prizes .prize img.map { width: 75%; }
#prizes .prize img.calendar { width: 75%;max-width: 200px;margin: 15px auto; }

/*----------------------------------------*/
/*--------------- CALENDAR ---------------*/
/*----------------------------------------*/
#dayphoto { width: 50%; text-align: center; margin: 0 auto; background: #fff; padding-top: 1.5%; }
#dayphoto img { width: 95%; }
#dayphoto p { 
	color: #735113;
	font-family: 'phontphreaks_handwritingRg';
	font-size: 1.4em;
	line-height: 21px; 
}

#calendar { margin-top: 20px; }
#calendar .picture { 
	border-top: 3px solid #d3a553; 
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	margin-bottom: 15px;
}
#calendar .picture p { font-family: 'AvenirLTStdHeavy'; font-size: 0.8em; text-align: left; padding: 1px 0; }
#calendar .picture p sup { font-size: 0.7em; }

#calendar .picture.closed { border-top: 3px solid #191919; }
#calendar .picture.closed p { color: #adadad; }
#calendar .picture.closed .img_closed { position: relative; }
#calendar .picture.closed .img_closed span { 
	position: absolute; 
	top: 5%; 
	left: 12%; 
	font-family: 'AvenirLTStdRoman'; 
	font-size: 2.5em;
}
#cycling{margin: 0 auto 30px;}
	#cycling .pola-big{padding: 10px;background: #fff;}
		#cycling .pola-big p{font-family: 'HW';color: rgb(211, 165, 83);text-align: center;}
p.date-zone{width: 200px;margin: 0 auto 5px;border-top: 5px solid rgb(211, 165, 83);border-radius: 5px 5px 0 0;padding-top: 5px;}
.welcome{
	background: url('/assets/mobile/bouteille.png') no-repeat 0 0;
	background-size: 20%;
	padding-left: 22%;
	height: 170px;
}
.thumbnail_{height: 200px;width: 200px;margin: auto;position: relative;}
.thumbnail_ .overflow{height: 200px;width: 200px;border-radius: 5px;overflow: hidden;}
.overlay-picture{
	position: absolute;
	top: 0;
	left: 0;
	height: 160px;
	width: 200px;
	background: url("/assets/overlay.png") repeat scroll 0% 0% transparent;
	z-index: 5000;
	display: none;
	text-align: center;
	font-size: 12px;
	padding-top: 40px;
	margin: auto;
}
/*----------------------------------------*/
/*---------------- POPUP -----------------*/
/*----------------------------------------*/
form { 
	font-family: 'CopperplateGothicStd31AB';
	text-align: center;
	padding-bottom: 25px;
}

/* Form */


form .uploadifive-button{
	margin: auto; cursor: pointer; font-size: 18px; font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background: #d5aa5f;
	border: 0px;
	margin-top: 25px;
	font-family: 'AvenirLTStdLight';
	color: #fff;
	border-radius: 0;
	text-shadow: none;
	width: 90%!important;
	max-width: 200px!important;
	font-size: 1.1em;
	padding: 2.5% 3%;
}

form .uploadifive-queue-item a.close:active, form .uploadifive-queue-item a.close:link, form .uploadifive-queue-item a.close:visited{
	color: #d5aa5f;
	margin-top: 2px;
}

form .uploadifive-queue-item{border-bottom: 0; padding: 5px; margin-top: 20px;}

form .uploadifive-queue-item .progress{width: 80%; float: left; height: 2px; }

form .uploadifive-queue-item .progress .progress-bar{
	background-color: #d5aa5f;
	background-image: none;
}

form .filename{display: none;}
form .uploadifive-queue-item{
	width: 90%;
	font-size: 11px;
	background: #313131;
	color: #fff;
	height: 15px;
}

form h3 { font-size: 0.95em; margin-bottom: 15px; }
form #central-part { width: 95%; margin: 0 auto; padding: 15px 0; }
form .field { margin-bottom: 7px; width: 100% }
form .field { margin-bottom: 7px; width: 100% }
form .field .label {width: 70px;display: inline-table;}
form .field .input {width: 100%;}
form #central-part .field label { 
	text-align: right;
	float: left;
	font-size: 0.7em;
	color: #d3a553;
	padding-right: 3%; 
	line-height: 40px;
}
form .field input[type=text] { 
	width: 99%;
	line-height: 40px;
	background: #313131;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	float: left;
	color: #fff;
	padding: 0 2%;
	font-size: 0.75em;
	font-family: 'AvenirLTStdLight';
}

form #checkboxes { width: 75%; margin: 0 auto; }
form #checkboxes .field { display: inline; }
form #checkboxes .field label { font-size: 0.7em; color: #d3a553; }

form input[type=submit], button { 
	border: none;
	background: #d3a553;
	color: #fff;
	font-size: 1.3em;
	padding: 2.5% 7.5%;
	text-transform: uppercase;
	font-family: 'CopperplateGothicStd30BC';
	margin-top: 20px;
}

/* Thank you */
form h2 { margin-top: 15px; }
form .txt-thx p { font-family: 'AvenirLTStdLight'; font-size: 0.8em; margin-bottom: 15px; }

/* Photo */
form.bgwhite { text-align: center; padding-bottom: 7px; }
form img.img_large { width: 96%; margin-bottom: 15px; }

form .btn-share { font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; }
form .btn-share a { color: #000; }

form .user { display: inline-block; margin-top: 15px; }
form .user img { margin-right: 7px;  }
form .user p { font-family: 'AvenirLTStdLight'; padding-top: 7px; text-align: left; }
form .user p span.fggold { font-family: 'AvenirLTStdHeavy'; }
form .row_checkbox{
	border: 1px solid #000;
	/*height: 20px;*/
	display: inline-block;
}

form .row_checkbox .checkbox-text{
	padding-top: 3px;
	display: table-cell;
}

form .row_checkbox .checkbox-text a:link, form .row_checkbox .checkbox-text a:visited, form .row_checkbox .checkbox-text a:hover{color: #d3a553; text-decoration: none;}

form .row_checkbox .img{
	cursor: pointer;
	height: 16px;
	width: 14px;
	background: url(/assets/sprite-checkbox.jpg);
	background-position: 0 16px;
	float: left;
	margin-right: 10px;
}

form .row_checkbox .img.checked{
	background-position: 0 0;
}

form #submit-button{
	background: #d3a553;
	border: none;
	color: #fff;
	font-family: 'CopperplateGothicStd30BC';
	font-size: 1.5em;
	padding: 2% 5% 2% 5%;
	margin-bottom: 15px;
}

#fb-dialog{
	background: url(/assets/sprite-share.png);
	height: 20px;
	width: 70px;
	background-position: 0 0;
	margin: 0 10px;
	display: table-cell;
	cursor: pointer;
}

#tw-dialog{
	background: url(/assets/sprite-share.png);
	height: 20px;
	width: 65px;
	background-position: 65px 0;
	margin: 0 10px;
	display: table-cell;
	cursor: pointer;
}


.phrase_reglement{
    padding-left: 0;
    margin-top: 20px;
    display: block;
    font-size: 0.8em;
	text-align: left;
}
.phrase_reglement a{ color : white; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
  #tw-dialog, #fb-dialog{
    background: url(/assets/sprite-share@2.png);
    background-size: 200%;
  }
}


/*-------------------------------------*/
/*---------- POP UP & LOADER-----------*/
/*-------------------------------------*/
#popupPerso {
  padding:20px;
  position:relative;
  background-color:white;
  margin:auto;
  margin-top:50px;
  padding-bottom:15px;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-box-shadow:  0px 2px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow:  0px 2px 10px 1px rgba(0, 0, 0, 0.3);
  font-family: 'AvenirLTStdLight';
  font-size: 14px;
  border: 0;
  border-top: 3px solid #d5aa5f;
  border-bottom: 3px solid #d5aa5f;
  background: #efe6d7;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;

  p {
    text-align:center;
    font-size:20px;
    margin-top:30px;
    margin-bottom:30px;
  }
  input[type=text] {
    display:block;
    margin:auto;
    margin-bottom:8px;
    width:340px;
    height:30px;
    padding-left:5px;
    padding-right:5px;
    background-color:#bababa;
    box-shadow:1px 1px 4px rgba(0,0,0,0.3) inset, -1px -1px 4px rgba(0,0,0,0.3) inset, 1px 1px 1px #fafafa;
    border:none;
  }
  input[type=checkbox] {
    margin-left:73px;
  }
}
#close {
  position:absolute;
  top:-20px;
  right:-20px;
  font-size:22px;
  color:white;
  cursor:pointer;
  text-decoration: none;
}

.profile{
    display:inline-block;
    padding-top: 15px;
}