p, span, div, img {outline: none;}
.fggold{color: #d3a553;}
.fgwhite{color: #fff;}
.fgblack{color: #000;}
.fgbrown{color: #735113;}

@font-face {
    font-family: 'HW';
    src: url('/assets/PhontPhreaks Handwriting.eot');
    src: url('/assets/PhontPhreaks Handwriting.eot?#iefix') format('embedded-opentype'),
    url('/assets/PhontPhreaks Handwriting.woff') format('woff'),
    url('/assets/PhontPhreaks Handwriting.ttf') format('truetype'),
    url('/assets/PhontPhreaks Handwriting.svg#PhontPhreaks_Handwriting') format('svg');
}

.fontCopperplateGothicStd30BC{ font-family: 'CopperplateGothicStd30BC';}

@font-face {
    font-family: 'CopperplateGothicStd30BC';
    src: url('/assets/copperplategothicstd-30bc.eot');
    src: url('/assets/copperplategothicstd-30bc.eot?#iefix') format('embedded-opentype'),
    url('/assets/copperplategothicstd-30bc.woff') format('woff'),
    url('/assets/copperplategothicstd-30bc.ttf') format('truetype'),
    url('/assets/copperplategothicstd-30bc.svg#CopperplateGothicStd30BC') format('svg');
}

.fontCopperplateGothicStd30BC{ font-family: 'CopperplateGothicStd30BC';}

@font-face {
    font-family: 'CopperplateGothicStd31AB';
    src: url('/assets/copperplategothicstd-31ab.eot');
    src:    url('/assets/copperplategothicstd-31ab.eot?#iefix') format('embedded-opentype'),
    url('/assets/copperplategothicstd-31ab.woff') format('woff'),
    url('/assets/copperplategothicstd-31ab.ttf') format('truetype'),
    url('/assets/copperplategothicstd-31ab.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fontCopperplateGothicStd31AB{ font-family: 'CopperplateGothicStd31AB';}

@font-face 
{
    font-family: 'AvenirLTStd45BookOblique';
    src: url('/assets/avenirltstd-bookoblique.eot');
    src: url('/assets/avenirltstd-bookoblique.eot?#iefix') format('embedded-opentype'),
    url('/assets/avenirltstd-bookoblique.woff') format('woff'),
    url('/assets/avenirltstd-bookoblique.ttf') format('truetype'),
    url('/assets/avenirltstd-bookoblique.svg#AvenirLTStd45BookOblique') format('svg');

}
.fontAvenirOblique{ font-family: 'AvenirLTStd45BookOblique';}

@font-face 
{
    font-family: 'AvenirLTStdHeavy';
    src: url('/assets/avenirltstd-heavy-webfont.eot');
    src: url('/assets/avenirltstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/avenirltstd-heavy-webfont.woff') format('woff'),
    url('/assets/avenirltstd-heavy-webfont.ttf') format('truetype'),
    url('/assets/avenirltstd-heavy-webfont.svg#AvenirLTStdHeavy') format('svg');
}

@font-face 
{
    font-family: 'AvenirLTStdLight';
    src: url('/assets/avenirltstd-light-webfont.eot');
    src: url('/assets/avenirltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/avenirltstd-light-webfont.woff') format('woff'),
    url('/assets/avenirltstd-light-webfont.ttf') format('truetype'),
    url('/assets/avenirltstd-light-webfont.svg#AvenirLTStdLight') format('svg');
}

.fontAvenirLTStdLight{font-family: 'AvenirLTStdLight';}

@font-face 
{
    font-family: 'AvenirLTStdRoman';
    src: url('/assets/avenirltstd-roman-webfont.eot');
    src: url('/assets/avenirltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/avenirltstd-roman-webfont.woff') format('woff'),
    url('/assets/avenirltstd-roman-webfont.ttf') format('truetype'),
    url('/assets/avenirltstd-roman-webfont.svg#AvenirLTStdRoman') format('svg');
}

@font-face 
{
    font-family: 'copperplategothicstd29bc';
    src: url('/assets/copperplategothicstd-29bc-webfont.eot');
    src: url('/assets/copperplategothicstd-29bc-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/copperplategothicstd-29bc-webfont.woff') format('woff'),
    url('/assets/copperplategothicstd-29bc-webfont.ttf') format('truetype');
}

.fontCopperplategothicstd29bc{ font-family: 'copperplategothicstd29bc', Georgia, serif; }

@font-face 
{
    font-family: 'copperplategothicstd29ab';
    src: url('/assets/copperplategothicstd-29ab.eot');
    src: url('/assets/copperplategothicstd-29ab.eot?#iefix') format('embedded-opentype'),
    url('/assets/copperplategothicstd-29ab.woff') format('woff'),
    url('/assets/copperplategothicstd-29ab.ttf') format('truetype'),
    url('/assets/copperplategothicstd-29ab.svg#CopperplateGothicStd29AB') format('svg');
}
@font-face 
{
    font-family: 'copperplategothictlromancn';
    src: url('/assets/copperplategothictl-romancn-webfont.eot');
    src: url('/assets/copperplategothictl-romancn-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/copperplategothictl-romancn-webfont.woff') format('woff'),
    url('/assets/copperplategothictl-romancn-webfont.ttf') format('truetype');
}

@font-face {
 font-family: 'CopperplateGothicStd31BC';
 src: url('/assets/copperplategothicstd-31bc.eot');
 src: url('/assets/copperplategothicstd-31bc.eot?#iefix') format('embedded-opentype'),
 url('/assets/copperplategothicstd-31bc.woff') format('woff'),
 url('/assets/copperplategothicstd-31bc.ttf') format('truetype'),
 url('/assets/copperplategothicstd-31bc.svg#CopperplateGothicStd31BC') format('svg');
}
.fontCopper1{ font-family: 'CopperplateGothicStd31BC';}


@font-face {
 font-family: 'CopperplateGothicStd32BC';
 src: url('/assets/copperplategothicstd-32bc.eot');
 src: url('/assets/copperplategothicstd-32bc.eot?#iefix') format('embedded-opentype'),
 url('/assets/copperplategothicstd-32bc.woff') format('woff'),
 url('/assets/copperplategothicstd-32bc.ttf') format('truetype'),
 url('/assets/copperplategothicstd-32bc.svg#CopperplateGothicStd31BC') format('svg');
}
.fontCopper2{ font-family: 'CopperplateGothicStd32BC';}

@font-face {
 font-family: 'CopperplateGothicStd33BC';
 src: url('/assets/copperplategothicstd-33bc.eot');
 src: url('/assets/copperplategothicstd-33bc.eot?#iefix') format('embedded-opentype'),
 url('/assets/copperplategothicstd-33bc.woff') format('woff'),
 url('/assets/copperplategothicstd-33bc.ttf') format('truetype'),
 url('/assets/copperplategothicstd-33bc.svg#CopperplateGothicStd31BC') format('svg');
}

div#popup-moet{
    margin-left: 100px;
    background: url(/assets/push_non_fan/bg-popup.png);
    width: 623px;
    height: 401px;
    margin-top: 81px;
    padding-top: 99px;
}

#text-intro{font-size: 25px; text-align: center;  text-transform: uppercase;}
#text-intro p{border: 1px solid #000;}
#text-explain{margin-top: 195px; font-size: 20px; text-align: center; margin-bottom: 30px;  text-transform: uppercase;}
#container-click-area{font-size: 20px; width: 242px; margin: auto; text-transform: uppercase;}
#click-area{float: left; margin-top: -5px;}
#container-click-area iframe{float: left; margin: 0 7px; cursor: pointer; margin-top: -5px; height: 22px; border: 0; width: 47px;}
#click-area_{float: left; margin-top: -5px}



/* PUSH FAN */

#share-edito{
    font-size: 28px;
    margin-top: 130px;
    margin-left: 270px;
}

#share-edito img{ margin-right: 5px;}

#tag-edito{
    font-size: 32px;
    margin-left: 280px;
    margin-bottom: 15px;
    margin-top: -5px;
}
#winner-edito{
    font-size: 26px;
    margin-top: 20px;
    margin-left: 270px; 
}
#winner-edito img{margin-right: 10px;}
#notifications{
    font-size: 11px;
    margin: 34px 6px 6px 6px;
    line-height: 10px;
}

#notifications a:link, #notifications a:visited, #notifications a:hover{color: #fff; text-decoration: none;}

.square_gold{
    padding: 7px 0px;
    background: #d3a553;
    width: 175px;
    margin-top: 205px;
    margin-left: 384px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.pola-picture{
    width:  124px;
    background-color:#FFF;
    min-height: 130px;
    margin-right: 13px;
    padding: 5px;
    font-size: 11px;
    float: left;
}

.pola-picture img{margin-bottom: 12px; height: 124px; width: 124px;}

/* HOME */

#main-container{width: 900px; margin: auto;}

#header{
    margin-left: 394px;
    margin-top: 10px;
}

#hook-1{margin: 80px 0 7px 380px; font-size: 36px;}
#hook-2{margin: -11px 0 0 380px; font-size: 34px;}
#hook-3{margin: -4px 0 0 380px; font-size: 36px;}

#disclaimer{
    font-size: 14px;
    margin: 20px 0 30px 380px;
}

#discover-glimmer{
    margin-left: 104px;
    text-align: center;
    font-size: 18px;
    width: 171px;
    margin-top: 0px;
    margin-bottom: 50px;
}

#discover-glimmer a:link, #discover-glimmer a:visited, #discover-glimmer a:active{color: #fff; text-decoration: none;}
#discover-glimmer a:hover{text-decoration: none;}

.button-menu:hover{color: #fff;}
.button-menu{
    width: 226px;
    height: 33px;
    background: #d3a553;
    border-radius: 5px;
    text-align: center;
    float: left;
    margin-left: 7px;
    font-size: 18px;
    padding-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.row_home{display: none;}
.row_home#slider-section{display: block;}

/*
**
**   GALLERY SECTION
**
*/

#fb-dialog{
    background: url(/assets/sprite-share.png);
    height: 20px;
    width: 70px;
    background-position: 0 0;
    margin: 0 10px;
    display: table-cell;
    cursor: pointer;
}

#tw-dialog{
    background: url(/assets/sprite-share.png);
    height: 20px;
    width: 65px;
    background-position: 65px 0;
    margin: 0 10px;
    display: table-cell;
    cursor: pointer;
}

#slider-section{
    clear: both;
    width: 690px;
    margin-left: 94px;
    padding-top: 20px;
}

#top-slider{
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

#top-slider span:hover{color:#fff }
#top-slider span{margin: 0 20px; cursor: pointer; font-weight: bold;}

.arrow-slider:hover{
    color: #fff;
}
.arrow-slider{
    float: left;
    font-size: 33px;
    margin-top: 210px;
    cursor: pointer;
}

#center-slider{
    float: left;
    width: 620px;
    margin: 0 13px;
    padding-left: 2px;
}

._image_display_{
    height: 258px;
    width: 190px; /*Tight*/
    text-align: center;
    margin: 0 3px;
    float: left;
}
._image_display_ .thumbnail_{
    margin-top: 5px;
    height: 190px; /*tight*/
    width: 190px; /*tight*/
    vertical-align:middle;
    display: table-cell;
    border: 0;
    margin-bottom: 0px;
}

.overlay-picture{
    position: absolute;
    height: 150px;
    width: 190px;
    background: url(/assets/overlay.png);
    z-index: 5000;
    display: none;
    text-align: center;
    font-size: 12px;
    padding-top: 40px;
}

.overlay-picture div{cursor: pointer;}

._image_display_ .thumbnail_ .overflow {
    height: 190px;
    width: 190px;
    border-radius:5px;
    overflow: hidden;
}

._image_display_ .thumbnail_ .overflow img{
    position: relative;
    margin-left: 70px;
    margin-top: 15px;
}

._image_display_ .thumbnail_ .overflow img.corner{
   margin-left: 155px; 
}

._image_display_ .thumbnail_ .overflow img.pic{
    min-height: 190px;
    min-width: 190px;
    max-height: 310px;
    max-width: 310px;
    position: relative;
    cursor: pointer;
    margin: 0;
}

._image_display_ .profile{
    text-align: left;
    margin: 0;
}

._image_display_ .profile img{
    margin-top: 10px;
    float: left;
    height: 35px;
    width: 35px;
}

._image_display_ .profile div{
    float: left;
    font-size: 12px;
    padding-top: 10px;
    margin-left: 5px;
    width: 103px;
}

#paginate{
    letter-spacing: 5px;
    text-align: center;
    font-size: 11px;
}

#paginate span:hover{color: #d3a553}
#paginate span{
    cursor: pointer;
}

#paginate ul li a:link, #paginate ul li a:visited, #paginate ul li a:active{text-decoration: none;}

#paginate ul li.active a:link, #paginate ul li.active a:visited, #paginate ul li.active a:active{
    color: #fff;
    text-decoration: none;
}

#paginate ul li.page-link a:link, #paginate ul li.page-link a:visited, #paginate ul li.page-link a:active{
    color: #d3a553;
    text-decoration: none;
}

/*
**
**   PARTICIPATE SECTION
**
*/

#participate-section{
    clear: both;
    width: 540px;
    margin-left: 163px;
    padding-top: 20px;
}

#participate-section center{font-size: 18px; font-weight: bold;}

#participate-section .row-participate{
    font-size: 14px;
    text-align: center;
    width: 49%;
    margin-top: 50px;
    float: left;
    font-weight: bold;
}

#participate-section .row-participate img.store{margin-top: 7px;}
#participate-section .row-participate img.device{position: relative; margin: -10px;}
#participate-section .row-participate span.desc{margin-left: 20px;}
#participate-section .row-participate .intro{margin-top: 40px; margin-bottom: 20px;}
#participate-section .row-participate .intro img.instagram{position: relative; margin: -5px; margin-left: 5px;}
#participate-section .row-participate .square_gold{margin: auto; cursor: pointer; margin-top: 65px; font-size: 18px; font-weight: bold;}



/*
**
**   WIN SECTION
**
*/

#win-section{
    clear: both;
    width: 540px;
    margin-left: 112px; 
    padding-top: 25px;
}

#win-section center{
    margin: 20px 0 34px 0;
}

#win-section div{ font-size: 18px; }

/*
**
**   FORM SECTION
**
*/

form{
    width: 615px;
    margin: auto;
}

form .uploadifive-button{
    margin: auto; cursor: pointer; font-size: 18px; font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: #d5aa5f;
    border: 0px;
    margin-top: 25px;
    font-family: 'AvenirLTStdLight';
    color: #fff;
    border-radius: 0;
    text-shadow: none;
}

form .uploadifive-queue-item a.close:active, form .uploadifive-queue-item a.close:link, form .uploadifive-queue-item a.close:visited{
    color: #d5aa5f;
    margin-top: 2px;
}

form queue{}

form .uploadifive-queue-item, form .uploadify-queue-item{border-bottom: 0; padding: 5px; margin-top: 20px;}

form .uploadifive-queue-item .progress, form .uploadify-queue-item .progress{width: 177px; float: left; height: 2px; }

form .uploadifive-queue-item .progress .progress-bar,
form .uploadify-queue-item .progress .progress-bar{
    background-color: #d5aa5f;
    background-image: none;
}

form .filename{display: none;}
form .fileinfo{font-size: 12px;}
form .uploadifive-queue-item,
form .uploadify-queue-item{
    width: 200px;
    font-size: 11px;
    background: #313131;
    color: #fff;
    height: 15px;
}

form center{text-transform: uppercase; font-size: 21px;}
form center span{text-transform: uppercase; font-size: 18px;}
form button{
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px;
    background: #d5aa5f;
    border: 0px;
    margin-top: 25px;
    font-weight: bold;
}

form .row_form{
    float: right;
    margin-right: 165px;
    margin-top: 15px;
    height: 40px;
}

form .row_form div{
    text-transform: uppercase;
    font-size: 14px;
    float: left;
    margin-top: 10px;
}
form .row_form input{border: 1px solid #000; width: 258px; height: 35px; background: #313131; border: 0px; border-radius:5px; margin-left: 10px; font-size: 14px; color: #fff; padding: 0 10px;}

form .row_checkbox{
    border: 1px solid #000;
    margin-left: 170px;
    margin-top: 15px;
    height: 20px;
}

form .row_checkbox .checkbox-text{
    font-size: 12px;
    padding-top: 3px;
    text-transform: uppercase;
    display: table-cell;
}

form .row_checkbox .checkbox-text a:link, form .row_checkbox .checkbox-text a:visited, form .row_checkbox .checkbox-text a:hover{color: #d3a553; text-decoration: none;}

form .row_checkbox .img{
    cursor: pointer;
    height: 16px;
    width: 14px;
    background: url(/assets/sprite-checkbox.jpg);
    background-position: 0 16px;
    float: left;
    margin-right: 10px;
}

form .row_checkbox .img.checked{
    background-position: 0 0;
}

form #thanks1{font-size: 22px;}
form #thanks2{font-size: 20px;}
form #msg{font-size: 14px; margin-bottom: 20px;}

#notice{clear: both; font-size: 11px; margin: 6px; color: #c0c0c0; text-align: left; margin-left: 97px; padding-top: 30px; line-height: 10px;}
#notice a:link, #notice a:visited, #notice a:hover{color: #c0c0c0; text-decoration: none;}

.discovered-bar{
    background: #d3a553;
    height: 7px;
    border-radius:7px 7px 0 0;
}

.date-zone{
    margin: 5px;
}

.pola-big{
    background: #fff;
    margin-left: 380px;
    text-align: center;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.pola-big p {
    color: #d3a553;
    font-family: 'HW';
    font-size: 25px;
    margin-top: 0;
    text-align: center;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.phrase_reglement{
    padding-left: 95px;
    margin-top: 20px;
    display: block;
}
.phrase_reglement a{ color : white; }


/*-------------------------------------*/
/*---------- POP UP & LOADER-----------*/
/*-------------------------------------*/
#popupPerso {
  padding:20px;
  position:relative;
  background-color:white;
  margin:auto;
  margin-top:50px;
  padding-bottom:15px;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-box-shadow:  0px 2px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow:  0px 2px 10px 1px rgba(0, 0, 0, 0.3);
  font-family: 'AvenirLTStdLight';
  font-size: 14px;
  border: 0;
  border-top: 3px solid #d5aa5f;
  border-bottom: 3px solid #d5aa5f;
  background: #efe6d7;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;

  p {
    text-align:center;
    font-size:20px;
    margin-top:30px;
    margin-bottom:30px;
  }
  input[type=text] {
    display:block;
    margin:auto;
    margin-bottom:8px;
    width:340px;
    height:30px;
    padding-left:5px;
    padding-right:5px;
    background-color:#bababa;
    box-shadow:1px 1px 4px rgba(0,0,0,0.3) inset, -1px -1px 4px rgba(0,0,0,0.3) inset, 1px 1px 1px #fafafa;
    border:none;
  }
  input[type=checkbox] {
    margin-left:73px;
  }
}
#close {
  position:absolute;
  top:-20px;
  right:-20px;
  font-size:22px;
  color:white;
  cursor:pointer;
  text-decoration: none;
}

.profile{
    display:inline-block;
    padding-top: 15px;
}