<div style="width: 300px;">
	<img src="<%=@subscribe.picture -%>" style='max-width: 300px' />
	<center>
		<!-- TWITTER -->
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://apps.facebook.com/toast_moet/?id_photo=<%= @subscribe.id -%>" data-text="Votez pour moi !" data-lang="fr" data-hashtags="toastmoet">Tweeter</a>


	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


	<div class="fb-like" data-href="https://apps.facebook.com/toast_moet/?id_photo=<%= @subscribe.id -%>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>

	<a href="#" 
	  onclick="
	    window.open(
	      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
	      'facebook-share-dialog', 
	      'width=626,height=436'); 
	    return false;">
	  Share on Facebook
	</a>

	</center>

	<center>
		<img src="<%= @subscribe.profile_picture -%>" /><br />
		<%= @subscribe.full_name -%> @ <%= @subscribe.username -%>
	</center>
	<div style='clear: both'></div>
</div>