<div id="app" style='margin: 10px;; padding: 0;'>
	<center id='loading-ajax'><%= image_tag('ajax-loader.gif') -%><br/><br/> Loading...</center>
	<div id='fbapp' style='margin: 0; padding: 0;'></div>
</div>
<% if @admin %>
	<div style='position: absolute; background: #c0c0c0; top: 0; font-size: 16px; font-family: Arial; padding: 10px;'>
		<%= link_to "Administration pannel", controller: "admins", action: "index" -%>
	</div>
<% end %>
<script>
	$(function() {
		window.router = new Toastmoet.Routers.SubscribesRouter(<%= @conf.to_json.html_safe -%>);
		Backbone.history.start();
	});
</script>