<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Toast Moët</title>
  <meta property="fb:app_id" content="<%= Settings.facebook.app_id -%>"/>
  <meta property="og:title" content="Toast Moët"/>
  <meta property="og:image" content="https://toastmoet.playappli.com/assets/ogImage.jpg"/>
  <% if request.env['mobvious.device_type'].to_s == 'mobile' %>
  	<%= stylesheet_link_tag 'mobile', :media => 'all' %>
  	<meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
  <% else %>
  	<%= stylesheet_link_tag 'application', :media => 'screen' %>
  <% end %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tags %>
  <script>
	if (!window.console) window.console = {};
	if (!window.console.log) window.console.log = function () { };
  </script>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-5210483-1']);
	_gaq.push(['_addIgnoredRef', 'static.ak.facebook.com']);
	_gaq.push(['_setDomainName', '.moet.com']);
	_gaq.push(['_trackPageview','/facebookApp/Tab1/']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body style='min-height: 100%; position:relative; margin: 0; padding: 0;'>
<!--[if LT IE 10 ]>  
	<style>.uploadify object{margin-left: 0;}</style>
	<div style='display:none' class='body ie10'></div>
<![endif]--> 
<div id="fb-root"></div>
<script type="text/javascript">
	window.fbAsyncInit = function() 
	{
		FB.init({
			appId  : '<%= Settings.facebook.app_id -%>',
			status : true, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			xfbml  : true, // parse XFBML
			oauth  : true
		});

		FB.Canvas.setAutoGrow();
		FB.Canvas.scrollTo(0,0);

		FB.XFBML.parse();

		FB.Event.subscribe('edge.create',
			function(href, widget) {
				_gaq.push(['_trackSocial', 'facebook', 'like', href]);
				top.location.href = href;
			}
		);
	};
	 // Load the SDK asynchronously
	(function(d, s, id){
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) {return;}
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/en_US/all.js";
	 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<%= yield %>

</body>
</html>
